#loadingOverlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 100000
}
#loadingImg {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}


@font-face {
   font-family: Josefin Sans;
   src: url(fonts/JosefinSans-Light.ttf);
}

#imagemodal .modal-dialog {
   width: 80%;
}

/*
 * Sidebar
 */
body {
   font-family: "Josefin Sans", sans;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #596a83;
}


.table-striped > tbody > tr:nth-of-type(odd):hover {
  background-color: #536272;
}


.page-header h1 small {
   font-size: 1.7em;
   font-family: "Josefin Sans", sans;
   color: #999;
}

.page-header h1 {
   font-family: "Josefin Sans", sans;
}

.list-group-item {
    font-family: "Josefin Sans", sans;
    font-size: 1.2em;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #12263b;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  color: #999;
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #304f6f;
}

.nav-sidebar a, .nav-sidebar a:link, .nav-sidebar a:visited, .nav-sidebar a:hover, .nav-sidebar a:active {
   text-decoration:none;
   outline: none;
   color: #fff;
}
